body{
    background-color:cornflowerblue;
    font-family: 'Arial', sans-serif;
    margin: 10px;
}
#div1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#innerdiv{
    background-color: white;
    border-radius: 20px;
    width: 500px;
    height: 540px;
}
button{
    width: 10rem;   
}

h3{
    margin-left: 18%;
}
#dhoni{
    margin-top: 10px;
    margin-left: 100px;
}

#enter{
    margin-top: -40px;
    margin-left: 40px;
}

#output{
    margin-left: 80px;
    margin-top: 10px;
}